<div class="login-clean" *ngIf="(miestado$ | async) == false">
    <form [formGroup]="studendForm" (ngSubmit)="procesar()">
      <h2 class="sr-only">Login Form</h2>
      <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
      <div class="form-group">
        <input
          class="form-control"
          type="email"
          name="email"
          placeholder="Email"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="password"
          name="password"
          formControlName="password"
          placeholder="Password"
  
        />
      </div>
      <div class="form-group">
        <!-- <button class="btn btn-primary btn-block" (click)="doLogin()">
          Log In
        </button> -->
  
        <button class="btn btn-primary btn-block">
          Log In
        </button>
      </div>
     </form>
  </div>
   