<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary mt-2">
  <a class="navbar-brand" href="#">University</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"  >
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="miestado$ | async">
        <a class="nav-link" [routerLink]="['subjects']">Subjects</a>
      </li>
      <li class="nav-item dropdown" *ngIf="miestado$ | async">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Students
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['students']">List</a>
          <a class="dropdown-item" [routerLink]="['student-calificaciones']">Calificaciones</a>

          <a class="dropdown-item" [routerLink]="['new-student']">Add studend (Template driven)</a>
          <a class="dropdown-item" [routerLink]="['new-student-reactive']">Add studend (Reactive driven)</a>

        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button   class="btn btn-success" *ngIf="(miestado$ | async) === false">
        Login
      </button>
      <button   class="btn btn-danger ml-2" *ngIf="miestado$ | async">
        Logout
      </button>
    </form>
  </div>
</nav>